.hero.is-small {
  background: radial-gradient(circle at bottom left,
      rgba(0, 255, 255, 0.122) 0%,      /* turquoise glow bottom-left */
      rgba(10, 20, 50, 0.597) 35%,       /* smooth fade */
      rgba(5, 10, 25, 0.618) 100%),        /* dark navy base */
    radial-gradient(circle at top right,
      rgba(0, 200, 255, 0.067) 0%,      /* cyan glow top-right */
      rgba(10, 20, 50, 0.718) 40%,
      transparent 80%);
  background-blend-mode: screen;
  background-color: #060a1a; /* fallback */
  color: #d8e1ff;
}

.dots{
    width: auto;
    height: 5%;
}
