<section class="hero is-large" id="main">
  <div class="hero-body">
    <div class="columns has-text-centered">
      <div class="column">
        
      </div>
      <div class="column is-three-quarters">
        <button class="button is-rounded" id="whoami">WHO I AM</button><br><br>
        <span style="color: white;">About me</span><br>
        <img src="assets/images/rect3.png" class="dots"><br><br><br><br>
        <div class="columns">
          <div class="column has-text-left">
            <img src="assets/images/line1.png" id="line"><br><br>
            <span style="color: rgba(211, 211, 211, 0.834);">I specialize in full-stack development, with expertise in Angluar, .NET Web API and 3'rd party API integrations. 
              I'm striving for clean code architecture that is reusable and scalable.
            </span><br><br>
            <span style="color: rgba(211, 211, 211, 0.834);">I'm excited to take on new challanges and collaborate with talented teams. My learning skill is focused, deep and efficient.
            </span>
          </div>
          <div class="column">
            xd
          </div>
        </div>
      </div>
      <div class="column">
        
      </div>
    </div>
  </div>
</section>
