<section class="hero is-large" id="main">
  <div class="hero-body">
    <div class="columns has-text-centered">
      <div class="column">
        
      </div>
      <div class="column is-three-quarters">
        <button class="button is-rounded" id="whoami">WHO I AM</button><br><br>
        <span style="color: white; font-size: large;">About me</span><br>
        <img src="assets/images/rect3.png" class="dots"><br><br><br><br>
        <div class="columns">
          <div class="column has-text-left" id="text">
            <img src="assets/images/line1.png" id="line"><br><br>
            <span style="color: rgba(211, 211, 211, 0.834); font-size: x-large;">I specialize in full-stack development, with expertise in Angluar, .NET Web API and 3'rd party API integrations. 
              I'm striving for clean code architecture that is reusable and scalable.
            </span><br><br>
            <span style="color: rgba(211, 211, 211, 0.834);  font-size: x-large;">I'm excited to take on new challanges and collaborate with talented teams. My learning skill is focused, deep and efficient.
            </span>
            <br><br><br><br>
            <img src="assets/images/FSA.png" id="FSA">
          </div>
          <div class="column">
            <div class="columns" id="boxes">
              <div class="column is-vcentered">
                <div class="box boxevery has-text-left">
                  <button class="button" id="buttoncode"><i class="fa-solid fa-code icon" style="color: white;"></i></button><br><br>
                  <span style="color: white; font-size: xx-large;">Clean code</span><br><br><span style="color: rgba(211, 211, 211, 0.834); font-size: x-large;">Writing maintainable, scalable and reusable solutions</span>
                </div>
                <div class="box boxevery has-text-left">
                  <button class="button" id="buttoncode"><i class="fa-solid fa-people-group icon" style="color: white;"></i></button><br><br>
                  <span style="color: white; font-size: xx-large;">Team player</span><br><br><span style="color: rgba(211, 211, 211, 0.834); font-size: x-large;">Collaborative and communicative with other people</span>
                </div>
              </div>
              <div class="column is-vcentered">
                <div class="box boxevery has-text-left">
                  <button class="button" id="buttoncode"><i class="fa-solid fa-trophy icon" style="color: white;"></i></button><br><br>
                  <span style="color: white; font-size: xx-large;">Quality First</span><br><br><span style="color: rgba(211, 211, 211, 0.834); font-size: x-large;">Attention to detail and best practices in every received project</span>
                </div>
                <div class="box boxevery has-text-left">
                  <button class="button" id="buttoncode"><i class="fa-solid fa-expand icon" style="color: white;"></i></button><br><br>
                  <span style="color: white; font-size: xx-large;">Focused Approach</span><br><br><span style="color: rgba(211, 211, 211, 0.834); font-size: x-large;">Commitment and personalization of developed solutions</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        
      </div>
    </div>
  </div>
</section>
