<section class="hero is-large is-primary">
  <div class="hero-body">
     <div class="columns">
      <div class="column">
        
      </div>
      <div class="column is-three-quarters has-text-centered">
        <button class="button is-rounded" id="whoami">MY WORK</button><br><br>
        <span style="color: white; font-size: large;">Featured Projects</span><br>
        <img src="assets/images/rect3.png" class="dots"><br><br>
        <span style="color: darkgray;">Some of my works showcasing my skill and expertise.</span>
        <br><br><br><br>
        <div class="columns has-text-left">
          <div class="column">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img
                    src="assets/images/orch.png"
                    alt="Placeholder image"
                    id="orch"
                  />
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  <p class="title is-4"><span class="spani">Orchard system</span></p>
                  Full-Stack Web Application with cryptocurrencies payments implemeneted.
                  <br /><br />
                  <span class="buttons"><button class="button is-rounded">Angular</button><button class="button is-rounded">.NET Web API</button><button class="button is-rounded">SQL</button><button class="button is-rounded">Web3</button></span>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img
                    src="assets/images/safin.png"
                    alt="Placeholder image"
                  />
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  <p class="title is-4"><span class="spani">Unity 2D Hack and Slash game</span></p>
                  Unannounced project of a proprietry 2D isometric Hack and Slash game made in Unity. 
                  <br /><br />
                  <span class="buttons"><button class="button is-rounded">C#</button><button class="button is-rounded">Unity</button><button class="button is-rounded">Pixel Art</button></span>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img
                    src="assets/images/skew.png"
                    alt="Placeholder image"
                  />
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  <p class="title is-4"><span class="spani">Statistics in Python</span></p>
                  Statistics, AI and Data Science expertise showcased in one project.
                  <br /><br />
                  <span class="buttons"><button class="button is-rounded">Python</button><button class="button is-rounded">AI</button><button class="button is-rounded">Data Science</button><button class="button is-rounded">Statistics</button></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        
      </div>
    </div>
  </div>
</section>
