<section class="hero is-large is-primary">
  <div class="hero-body">
     <div class="columns has-text-centered">
      <div class="column">
        
      </div>
      <div class="column is-three-quarters">
        <button class="button is-rounded" id="whoami">LET'S TALK</button><br><br>
        <span style="color: white; font-size: large;">Get in touch</span><br>
        <img src="assets/images/rect3.png" class="dots"><br><br>
        <span style="color: darkgray;">I'm always open to discussing new projects, creative ideas, or opportunities to be part of your visions.</span>
        <br><br><br><br>
        <div class="columns has-text-left">
          <div class="column">
            <div class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <img
                        src="https://bulma.io/assets/images/placeholders/96x96.png"
                        alt="Placeholder image"
                      />
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-4">Let's Connect</p>
                    <p class="subtitle is-6">Get in touch with me</p>
                  </div>
                </div>

                <div class="content">
                  <span>Whether you have a question, want to collaborate, or just want to say hi, feel free to reach out. I'll get back to you as soon as possible!</span>
                  <br><br>
                  <div class="card inner has-text-left emailcard">
                    <div class="card-content">
                      <div class="media">
                        <div class="media-left">
                            <button class="button ikonainner" id="email"><i class="fa-solid fa-envelope" style="font-size: x-large;"></i></button>
                        </div>
                        <div class="media-content">
                          <p class="title is-4"><span class="gray">Email</span></p>
                          <p class="subtitle is-6"><span class="lightblue">adamwi.business&#64;gmail.com</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card inner has-text-left phonecard">
                    <div class="card-content">
                      <div class="media">
                        <div class="media-left">
                          <button class="button ikonainner" id="phone"><i class="fa-solid fa-phone" style="font-size: x-large;"></i></button>
                        </div>
                        <div class="media-content">
                          <p class="title is-4"><span class="gray">Phone</span></p>
                          <p class="subtitle is-6"><span class="pink">+48 605 606 102</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card inner has-text-left locationcard">
                    <div class="card-content">
                      <div class="media">
                        <div class="media-left">
                          <button class="button ikonainner" id="location"><i class="fa-solid fa-compass" style="font-size: x-large;"></i></button>
                        </div>
                        <div class="media-content">
                          <p class="title is-4"><span class="gray">Location</span></p>
                          <p class="subtitle is-6">Wrocław, Poland</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4">Follow Me</p>
                  </div>
                </div>

                <div class="content">
                  <button class="button following" (click)="RedirectToGH()" id="buttonGH"><i class="fa-brands fa-github" style="font-size: x-large;"></i></button>
                  <button class="button following follow" (click)="RedirectToLI()" id="buttonLI"><i class="fa-brands fa-linkedin" style="font-size: x-large;"></i></button>
                  <button class="button following follow" (click)="RedirectToX()" id="buttonEM"><i class="fa-brands fa-x-twitter" style="font-size: x-large;"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="column">

          </div>
        </div>
      </div>
      <div class="column">
        
      </div>
    </div>
  </div>
</section>
