#main{
    background-image: url("C:\\Users\\aethi\\source\\repos\\PersonalPortfolio\\src\\assets\\images\\myphotoUltimate.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-item img {
  height: 100px;      /* roughly matches Bulma's default SVG height */
  width: auto;       /* keep aspect ratio */
  max-height: none;  /* remove Bulma’s cap */
}