<section class="hero is-large is-primary">
  <div class="hero-body">
     <div class="columns has-text-centered">
      <div class="column">
        
      </div>
      <div class="column is-three-quarters">
        <button class="button is-rounded" id="whoami">WHAT I DO</button><br><br>
        <span style="color: white; font-size: large;">Skills & Expertise</span><br>
        <img src="assets/images/rect3.png" class="dots"><br><br>
        <span style="color: darkgray;">A comprehensive toolkit for building modern, scalable applications and various AI tools</span>
        <br><br><br><br>
        <div class="columns">
          <div class="column">
            <div class="box boxevery1 has-text-left">
              <button class="button" id="buttoncode1"><i class="fa-solid fa-code icon1" style="color: white;"></i></button><br><br>
              <span style="color: white; font-size: xx-large;">Frontend Development</span><br><br><span class="frontend" style="color: rgba(211, 211, 211, 0.834); font-size: x-large;"><button class="button is-rounded">TypeScript</button><button class="button is-rounded">Angular</button><button class="button is-rounded">Bulma</button></span>
            </div>
            <div class="box boxevery2 has-text-left">
              <button class="button" id="buttoncode2"><i class="fa-solid fa-landmark icon2" style="color: white;"></i></button><br><br>
              <span style="color: white; font-size: xx-large;">Backend Development</span><br><br><span class="backend" style="color: rgba(211, 211, 211, 0.834); font-size: x-large;"><button class="button is-rounded">C#</button><button class="button is-rounded">.NET</button><button class="button is-rounded">Spring Boot</button></span>
            </div>
          </div>
          <div class="column">
            <div class="box boxevery3 has-text-left">
              <button class="button" id="buttoncode3"><i class="fa-solid fa-database icon3" style="color: white;"></i></button><br><br>
              <span style="color: white; font-size: xx-large;">Databases</span><br><br><span class="database" style="color: rgba(211, 211, 211, 0.834); font-size: x-large;"><button class="button is-rounded">PL-SQL</button><button class="button is-rounded">SQL</button><button class="button is-rounded">Entity Framework</button></span>
            </div>
            <div class="box boxevery4 has-text-left">
              <button class="button" id="buttoncode4"><i class="fa-solid fa-code-pull-request icon4" style="color: white;"></i></button><br><br>
              <span style="color: white; font-size: xx-large;">Version Control</span><br><br><span class="vc" style="color: rgba(211, 211, 211, 0.834); font-size: x-large;"><button class="button is-rounded">Git</button><button class="button is-rounded">GitHub</button></span>
            </div>
          </div>
          <div class="column">
            <div class="box boxevery5 has-text-left">
              <button class="button" id="buttoncode5"><i class="fa-solid fa-robot icon5" style="color: white;"></i></button><br><br>
              <span style="color: white; font-size: xx-large;">AI</span><br><br><span class="AI" style="color: rgba(211, 211, 211, 0.834); font-size: x-large;"><button class="button is-rounded">Python</button><button class="button is-rounded">Data Science</button><button class="button is-rounded">Deep Learning</button></span>
            </div>
            <div class="box boxevery6 has-text-left">
              <button class="button" id="buttoncode6"><i class="fa-solid fa-palette icon6" style="color: white;"></i></button><br><br>
              <span style="color: white; font-size: xx-large;">UI/UX</span><br><br><span class="UX" style="color: rgba(211, 211, 211, 0.834); font-size: x-large;"><button class="button is-rounded">Figma</button><button class="button is-rounded">Canva</button></span>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        
      </div>
    </div>
  </div>
</section>
