
<section class="hero is-fullheight-with-navbar is-info" id="main" #home>
    <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item noHover" href="#">
            <img src="assets/images/logo.png">
        </a>
        <a class="navbar-item noHover" href="#">
            Adam Wielogórski
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">

        </div>

        <div class="navbar-end">
            <a class="navbar-item" (click)="ScrollToHome()">
                Home
            </a>
            <a class="navbar-item" (click)="ScrollToAbout()">
                About
            </a>
            <a class="navbar-item" (click)="ScrollToSkills()">
                Skills
            </a>

            <a class="navbar-item" (click)="ScrollToMyWork()">
                Projects
            </a>
            <a class="navbar-item" (click)="ScrollToContact()">
                Contact
            </a>
        </div>
    </div>
    </nav>
    <div class="hero-body">
        <div class="container">
            <div class="columns has-text-centered" id="colsdiv">
                <div class="column"></div>
                <div class="column is-two-thirds" style="font-size: 15px;">
                    FULL-STACK DEVELOPER & AI ENGINEER<br>
                    <h1 class="title" style="font-size: 70px; font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; margin-bottom: 1%;">Adam Wielogórski</h1>
                    <img src="assets/images/rect2.png" id="twolinescircle"><br><br><br>
                    <h2 class="subtitle" id="subtitle"><span style="font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Crafting digital experiences that merge <span style="color: oklch(83.541% 0.09331 232.796); font-weight: bold;">innovative design</span> with <span style="color: oklch(80.532% 0.15006 320.094); font-weight: bold;">powerful<br> technology</span>. Building the future, one line of code at a time.</span> </h2><br>
                    <div id="twobuttons">
                        <div class="columns">
                            <div class="column"><button class="button is-rounded" id="buttonleft" (click)="ScrollToMyWork()">View my work</button></div>
                            <div class="column"><button class="button is-rounded" id="buttonright" (click)="ScrollToContact()">Get in touch</button></div>
                        </div>
                    </div><br><br><br>
                    <div id="threebuttons">
                        <div class="columns">
                            <div class="column is-three-fifths has-text-right"><button class="button is-rounded" (click)="RedirectToGH()" id="buttonGH"><i class="fa-brands fa-github"></i></button></div>
                            <div class="column"><button class="button is-rounded" (click)="RedirectToLI()" id="buttonLI"><i class="fa-brands fa-linkedin"></i></button></div>
                            <div class="column is-three-fifths has-text-left"><button class="button is-rounded" (click)="ScrollToContact()" id="buttonEM"><i class="fa-solid fa-envelope"></i></button></div>
                        </div>
                    </div><br>
                    <div class="scrollarrow" (click)="ScrollToAbout()">SCROLL<br><i class="fa-solid fa-arrow-down" id="arrow"></i></div>
                </div>
                <div class="column"></div>
            </div>
        </div>
    </div>
</section>
<section #about><app-about-me></app-about-me></section>
<section #skills><app-skills></app-skills></section>
<section #mywork><app-my-work></app-my-work></section>
<section #contact><app-contact></app-contact></section>
<section><app-footer></app-footer></section>