#main{
    background-image: url("/assets/images/myphoto4.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-item img {
  height: 50px;      
  width: auto;       
  max-height: none;
  border-radius: 25%;
  box-shadow:
    0 0 3px 1.5px #2e007385, 
    0 0 5px 3px rgba(16, 1, 127, 0.303),
    0 0 7px 5px rgba(13, 2, 131, 0.351); 
}

.navbar-item:not(.logo-item){     
  width: auto;
  background-image: linear-gradient(to right, rgba(13, 0, 54, 0.904), rgba(14, 0, 54, 0.904));
  color: initial;
  transition: 0.3s ease;      
}

.navbar-brand{
    margin-left: 21%;
}

.navbar{
  background-image: linear-gradient(to right, rgba(0, 4, 38, 0.888), rgba(14, 0, 54, 0.904));
}

.navbar-end{
  margin-right: 27%;
}

.navbar-item:hover:not(.logo-item){
  background-image: linear-gradient(to right, rgba(1, 1, 86, 0.789), rgba(38, 0, 68, 0.805));
  border-radius: 25px;
  padding: 20px;
  transition: 0.3s ease;
  color: white;
}

.navbar-item:hover img {
  background-color: transparent;
}

.noHover{
    pointer-events: none;
    margin-left: -5px;
}

#colsdiv{
  height: 100%;
  color: oklch(0.79 0.1 251.78);
  margin-top: 8%;
}

#twolinescircle{
  height: 5%;
}

#subtitle{
  font-size: 20px;
}

#buttonleft{
  margin-left: 60%;
  height: 140%;
  width: 38%;
  color: white;
  background-image: linear-gradient(to right, rgba(50, 50, 249, 0.986), rgb(159, 57, 237));
  border: 0px;
  transition: 0.3s ease;
}

#buttonleft:hover{
  transform: scaleX(1.1) scaleY(1.1);
  transition: 0.3s ease; 
}


#buttonright{
  margin-right: 70%;
  height: 140%;
  width: 33%;
  background-color: transparent;
  border: 2px solid rgb(101, 143, 170);
  color: white;
  transition: 0.3s ease;
}

#buttonright:hover{
  transform: scaleX(1.1) scaleY(1.1);
  border: 2px solid rgb(101, 196, 255);
  transition: 0.3s ease;
  background-color: rgba(101, 196, 255, 0.14);
}

#buttonGH, #buttonLI, #buttonEM{
  background-color: rgba(255, 255, 255, 0.242);
  border: 2px solid rgba(255, 255, 255, 0.625);
  transition: 0.3s ease;
}

#buttonGH:hover, #buttonLI:hover, #buttonEM:hover{
  background-image: linear-gradient(to right, rgba(122, 122, 255, 0.753), rgba(170, 104, 220, 0.627));
  border: 2px solid rgb(101, 196, 255);
  transition: 0.3s ease;
  transform: scaleX(1.2) scaleY(1.2);
}

#threebuttons{
  margin-right: 25%;
}

.scrollarrow{
  margin-left: 45.3%;
  width: 10%;
  color: lightgrey;
  transition: 0.3s ease;
}

.scrollarrow:hover{
  color: white;
  transition: 0.3s ease;
}

#arrow{
  animation-duration: 1s;
  animation-name: slide-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slide-in {
  from {
    translate: 0 0.4vw;
    scale: 100% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}
