
<section class="hero is-fullheight-with-navbar is-info" id="main" #home>
    <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item noHover" href="#">
            <img src="assets/images/logo.png">
        </a>
        <a class="navbar-item noHover" href="#">
            Adam Wielogórski
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">

        </div>

        <div class="navbar-end">
            <a class="navbar-item" (click)="ScrollToHome()">
                Home
            </a>
            <a class="navbar-item" (click)="ScrollToAbout()">
                About
            </a>
            <a class="navbar-item" (click)="ScrollToSkills()">
                Skills
            </a>

            <a class="navbar-item" (click)="ScrollToMyWork()">
                Projects
            </a>
            <a class="navbar-item" (click)="ScrollToContact()">
                Contact
            </a>
        </div>
    </div>
    </nav>
    <div class="hero-body">

    </div>
</section>
<section #about><app-about-me></app-about-me></section>
<section #skills><app-skills></app-skills></section>
<section #mywork><app-my-work></app-my-work></section>
<section #contact><app-contact></app-contact></section>